

.h100vh {
  height: calc(100vh - 40px); /* Adjust 20px based on your header/footer/margins */
}
.card_pad {
  padding: 30px 10px;
  background-color: #023020;
  color: #fff !important;
}

.backgrnd {
  background-color: #000 !important;
  color: #fff;
}

.custom-table tbody tr {
  height: 50px; /* Adjust the height as needed */
  vertical-align: middle;
  border-color: #000 !important;

}

.custom-table tbody tr.border-bottom {
  border-bottom: 1px solid #dee2e6; /* Add a border between rows */
}

.custom-table thead tr {
  height: 60px; /* Increase header height */
  vertical-align: middle;
  border-color: #000 !important;

}

.custom-table thead tr th{
  background-color: #301934 !important;
  color: #f5e050 !important;

}

.custom-table tbody tr td{
  background-color: #301934 !important;
  color: #fff;
}

.modal-content {
  background-color: #353935 !important;
  color: #dee2e6;
}

.btn_modal {
  background-color:  #EFCC00;	
  border-color: #EFCC00;
  color: #000;
}